/*全要素のCSS適用*/
* {
    color: #ffffff;
    box-sizing: border-box;
}


/* スマートフォン用レイアウト */
@media (max-width: 670px){    

/* *****ヘッダー***** */

    .header {
        width: 100%;
        height: 40px;
        padding: 0px 15px 0px 0px; /* 左右15px必要だったが、logoの左側に余白があったのでその余白を利用した */
    }

    .logo {
        height: 40px; /* 本当は高さ20px(目測)だが、svgの上下に余白が10px位あったので、40pxにした */
        margin: 0px; 
        /* 本当は上下余白は10pxだがlogoの高さを40pxにしたので、ヘッダー高さ40pxになるようにmarginは0pxにした */
        float: left;
    }

    .header-list{
        display: none;
    }
    
    /* .hamburger-logo {
        display: inline;
        float: right;
        height: 20px;
        margin: 10px 0px;
    } */

    /* #hamburger-logo label {
        cursor: pointer;
    }


    #hamburger-logo input {
        display: none;
    }

    #hamburger-logo input:checked+div {
        display: block;
    } */


/* *****サイドメニュー***** */

    .side-menu.active {
        color: #303434;
        position: absolute;
        top: 0px;
    }

    .worker-info {
        display: none;
    }

    .menu-contents {
        display: none;
    }

    .menu-contents :hover {
        border-left: 5px solid #f08404;
    }
    

    .menu-contents.active {
        display: inline-block;
        border-top: 0.5px solid #ffffff;
        background-color: #282424;
        width: 100%;
    }


    .menu-content.active  {
        border-bottom: 0.5px solid #ffffff;
        padding: 15px 20px;
        background-color: #282424;
        width: 100%;

    }

/* *****モバイルサイドメニュー***** */

    .btn {
        position: relative;
        width: 40px;
        height: 40px;
        border: solid 1px #cccccc;
        cursor: pointer;
    }

    .btn__text{
        display: block;
        overflow: hidden;
        text-indent: 100%;
        white-space: nowrap;
      }
      
      .btn__menu{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        
        position: absolute;
        top: 50%;
        left: 50%;
        width: 24px;
        height: 2px;
        background: #26344a;
        margin: 0;
        padding: 0;
        border: none;
        transition: all 0.5s;
        transform: translate(-50%, -50%);
        cursor: pointer;
      }
      
      .btn__menu::before{
        display: block;
        content: "";
        position: absolute;
        top: -8px;
        left: 0;
        width: 100%;
        height: 100%;
        background: #26344a;
        transition: all 0.5s;
      }
      
      .btn__menu::after{
        display: block;
        content: "";
        position: absolute;
        bottom: -8px;
        left: 0;
        width: 100%;
        height: 100%;
        background: #26344a;
        transition: all 0.5s;
      }
      
      .btn__menu.active{
        background: transparent;
      }
      
      .btn__menu.active::before{
        top: 0;
        transform: rotate(-45deg);
      }
      
      .btn__menu.active::after{
        bottom: 0;
        transform: rotate(45deg);
      }
      
      
      .p-global-nav{
        position: absolute;
        top: 64px;
        left: -120%;
        background: #282428;
        transition: all 0.5s;
      }
      .p-global-nav.active{
        left: 0;
      }



/* *****フッター***** */

    footer {
        position: absolute;
        top: 400px;
    }

    .main-footer {
        height: 123px;
    }

    .rebuild-info {
        width: 80%;
    }

    .rebuild-info br {
        display: inline;
    }    

    .page-top {
        position: absolute;
        right: 20px;
        bottom: 21px;    
    }
    
/* *****モバイルフッター***** */

    .mobile-footers {
        position: fixed;
        bottom: 0px;
        width: 100%;
        background-color: #282424;

    }

    .mobile-footer {
        display: inline-block;
        z-index: 10;
        width: 25%;
        float: left;
        text-align: center;
    }    
    
    .mobile-footer p {
        height: 40px;
    }    

    .footer-icon {
        height: 40px;
        padding-top: 7px;

    }

    .mobile-footer a {
        display: inline-block;
        font-size: 7px;
        padding-top: 5px;
        padding-bottom: 7px;
    }

/* *****ダッシュボード***** */

.dashboard {
    width: 100%;
}

}