/*全要素のCSS適用*/
* {
    color: #ffffff;
    box-sizing: border-box;
}


/* スマートフォン用レイアウト */
@media (max-width: 670px){

/* *****ヘッダー***** */

    .header {
        position: fixed;
        top: 0px;
        width: 100%;
        height: 40px;
        padding: 0px 15px 0px 0px; /* 左右15px必要だったが、logoの左側に余白があったのでその余白を利用した */
    }

    .logo {
        height: 40px; /* 本当は高さ20px(目測)だが、svgの上下に余白が10px位あったので、40pxにした */
        margin: 0px; 
        /* 本当は上下余白は10pxだがlogoの高さを40pxにしたので、ヘッダー高さ40pxになるようにmarginは0pxにした */
        float: left;
    }

    .header-list{
        display: none;
    }
    

/* *****サイドメニュー***** */

    .side-menu {
        display: none;
    }

    .side-menu.active {
        display: block;
        color: #303434;
        position: absolute;
        top: 0px;
    }

    .worker-info {
        display: none;
    }

    .menu-contents {
        display: none;
    }

    .menu-contents :hover {
        border-left: 5px solid #f08404;
    }

    .menu-contents.active {
        display: inline-block;
        border-top: 0.5px solid #ffffff;
        background-color: #282424;
        width: 100%;
    }


    .menu-content.active  {
        border-bottom: 0.5px solid #ffffff;
        padding: 15px 20px;
        background-color: #282424;
    }

/* *****モバイルサイドメニュー***** */

    .btn {
        position: relative;
        /* width: 40px;
        height: 40px; */
        right: 40px;
        cursor: pointer;
    }

    /* .btn__text{
        display: block;
        overflow: hidden;
        text-indent: 100%;
        white-space: nowrap;
      } */
      
      .btn__menu{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        width: 24px;
        height: 2px;
        background: #cccccc;
        margin: 0;
        padding: 0;
        border: none;
        transition: all 0.5s;
        transform: translate(-50%, -50%);
        cursor: pointer;
      }
      
      .btn__menu::before{
        display: block;
        content: "";
        position: absolute;
        top: -8px;
        left: 0;
        width: 100%;
        height: 100%;
        background: #cccccc;
        transition: all 0.5s;
      }
      
      .btn__menu::after{
        display: block;
        content: "";
        position: absolute;
        bottom: -8px;
        left: 0;
        width: 100%;
        height: 100%;
        background: #cccccc;
        transition: all 0.5s;
      }
      
      .btn__menu.active{
        background: transparent;
      }
      
      .btn__menu.active::before{
        top: 0;
        transform: rotate(-45deg);
      }
      
      .btn__menu.active::after{
        bottom: 0;
        transform: rotate(45deg);
      }
      
      
      .p-global-nav{
        position: absolute;
        top: 64px;
        left: -120%;
        background: #cccccc;
        transition: all 0.5s;
      }

      .p-global-nav.active{
        top:40px;
        left: 0;
      }



/* *****フッター***** */

    footer {
        position: absolute;
        top: 400px;
    }

    .main-footer {
        height: 123px;
    }

    .rebuild-info {
        width: 80%;
    }

    .rebuild-info br {
        display: inline;
    }    

    .page-top {
        position: absolute;
        right: 20px;
        bottom: 21px;    
    }
    
/* *****モバイルフッター***** */

    .mobile-footers {
        position: fixed;
        bottom: 0px;
        width: 100%;
        background-color: #282424;
    }

    .mobile-footer {
        display: inline-block;
        z-index: 10;
        width: 25%;
        float: left;
        text-align: center;
    }    
    
    .mobile-footer p {
        height: 40px;
    }    

    .footer-icon {
        height: 40px;
        padding-top: 7px;

    }

    .mobile-footer a {
        display: inline-block;
        font-size: 7px;
        padding-top: 5px;
        padding-bottom: 7px;
    }

/* *****ダッシュボード***** */

.dashboard {
    width: 100%;
}


/* *****ダッシュボード 左エリア***** */

main {
    position: relative; /* メイン部分の基準点を最左上から、サイドメニュー右&ヘッダー下に変更 */
    top: 40px;
    width: 100%;
}

.dashboard {
    position: absolute;
    width: 100%;
    color: #282424; /* 指定なかったので、ヘッダーの背景色と同じにした */
    font-size: 15px;
    font-weight: bold;
    padding: 15px 20px 15px 20px;
    border-bottom: 1px solid #cccccc;
}

.info {
    position: absolute;
    top: 54px;
    width: 100%;
}

.matter {
    position: absolute;
    top: 272px;
    width: 60%;
}

.friends-request {
    position: absolute;
    top: 493px;
    width: 60%;
}

.title {
    width: 100%;
}

.p-title {
    position: absolute;
    width: 100%;
    color: #303434; /* 指定なかったので、サイドメニューの背景色と同じにした */
    font-size: 15px;
    font-weight: 500;
    border-bottom: 1px solid #303434;
    margin: 0px 25px;
    margin: 0px 25px 5px 25px;
}

.p-title-info {
    padding: 30px 0px 10px 0px;
}

.p-title-matter {
    padding: 50px 0px 10px 0px;
}

.p-title-friends {
    padding: 50px 0px 10px 0px;
}

.list-logo {
    position: absolute;
    right: 30px;
    background-color: #f08404;
    padding: 2px 7px;
    margin: 35px 30px 10px 0px;
    font-size: 5px;
    text-align: center;
}

.list {
    position: absolute;
    top: 34px;
    right: 25px;
    color: #303434;
    font-size: 15px;
}

.contents {
    position: absolute;
    width: 100%;
    font-size: 10px;
    color: #303434;
    margin: 0px 25px 100px 25px;
}

.info-contents {
    top: 76px;
}

.matter-contents {
    top: 96px;
}

.friends-contents {
    top: 95px;
}

.content {
    width: 100%;
    border-bottom: 1px solid #cccccc;
    display: inline-block;
}

.info-content p {
    color: #303434;
    display: inline-block;
}

.matter-content p {
    color: #303434;
    display: inline-block;
}

.friends-content p {
    color: #303434;
    display: inline-block;
}

.date {
    margin: 10px 0px 10px 10px;
}

.tag {
    margin-left: 10px;
    display: inline;
}

.tag p {
    color: #f08404;
    margin: 10px 0px;
    padding: 2px 10px;
    border: solid 1px #f08404;
    border-radius: 10px;
}

.text {
    margin: 10px 0px 10px 10px;
}

.more {
    display: inline;
    float: right;
    margin: 10px 10px 10px 15px;
}

.more a {
    color: #f08404;    
}

.friends-photo {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover; /* 画像が正方形でない場合に縦横比を保ったままにする */
    background-color: #cccccc;
    float: left;
    margin: 0px;
    margin: 10px 15px 10px 10px;
}

.friends-content {
    position: relative;
}

.friends-name {
    position: absolute;
    top: 10px;
    left: 75px;
}

.prefecture {
    position: absolute;
    top: 18px;
    left: 0px;
    padding-top: 10px;
}

.button {
    position: absolute;
    top: 0px;
    right: 0px;
}

.button p {
    color: #ffffff;
    font-size: 18px;
    width: 100px;
    height: 40px;
    border-radius: 20px 20px 20px 20px;
    padding: 7px 0px 7px 0px;
    margin: 15px 0px 15px 5px;
    text-align: center;
}

.approve {
    background-color: #f08404; 
}

.reject {
    background-color: #cccccc;
}


/* *****ダッシュボード 右エリア***** */

.post {
    display: none;
}

.msg_send {
    display: none;
}

.feeds {
    display: none;
}



}