/*全要素のCSS適用*/
* {
    color: #ffffff;
    box-sizing: border-box;
}


/* スマートフォン用レイアウト */
@media (max-width: 670px){    

/* *****ヘッダー***** */

    .header {
        width: 100%;
        height: 40px;
        padding: 0px 15px 0px 0px; /* 左右15px必要だったが、logoの左側に余白があったのでその余白を利用した */
    }

    .logo {
        height: 40px; /* 本当は高さ20px(目測)だが、svgの上下に余白が10px位あったので、40pxにした */
        margin: 0px; 
        /* 本当は上下余白は10pxだがlogoの高さを40pxにしたので、ヘッダー高さ40pxになるようにmarginは0pxにした */
        float: left;
    }

    .header-list{
        display: none;
    }
    
    .hamburger-logo {
        display: inline;
        float: right;
        height: 20px;
        margin: 10px 0px;
    }

/* *****サイドメニュー***** */

    .side-menu {
        position: absolute;
        top: 40px;
    }

    .side-menu {
        width: 100%;
    }

    .worker-info {
        display: none;
    }

    .menu-contents {
        border-top: 0.5px solid #ffffff;
    }

    .menu-content {
        border-bottom: 0.5px solid #ffffff;
        padding: 15px 20px;
    }

/* *****フッター***** */

    footer {
        position: absolute;
        top: 400px;
    }

    .main-footer {
        height: 123px;
    }

    .rebuild-info {
        width: 80%;
    }

    .rebuild-info br {
        display: inline;
    }    

    .page-top {
        position: absolute;
        right: 20px;
        bottom: 21px;    
    }
    
/* *****モバイルフッター***** */

    .mobile-footers {
        position: fixed;
        bottom: 0px;
        width: 100%;
        background-color: #282424;

    }

    .mobile-footer {
        display: inline-block;
        z-index: 10;
        width: 25%;
        float: left;
        text-align: center;
    }    
    
    .mobile-footer p {
        height: 40px;
    }    

    .footer-icon {
        height: 40px;
        padding-top: 7px;

    }

    .mobile-footer a {
        display: inline-block;
        font-size: 7px;
        padding-top: 5px;
        padding-bottom: 7px;

    }


    

}