/* 全要素のCSS適用 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0; /* この余白を指定しないと上下左右に余白ができる */
    /* display: flex;
    flex-flow: column;
    min-height: 100vh; */
    /* position: relative; */
}

main {
    /* background-color: #ffffff;
    flex: 1; */
}

a {
    text-decoration: none; /* リンクの下線を消す */
}

/* *****ヘッダー***** */

.header {
    width: 100%;
    height: 80px;
    padding: 0px 30px;
    background-color: #282424; /* 指定なしだったので、カラーピッカーで色決定 */
    position: fixed;
    top: 0px;
    z-index: 10;
}

.logo {
    height: 60px; /* 本当は高さ40pxだが、svgの上下に余白が10px位あったので、60pxにした */
    margin: 10px 0px; /* 本当は上下余白は20pxだがlogoの高さを60pxにしたので、ヘッダー高さ80pxになるようにmarginは10pxにした */
    float: left;
}

.header-logo {
    float: left;
    height: 40px;
}

.bell-logo {
    height: 20px; /* 高さ指定なしなので、適当に決定 */
    float: right;
    margin: 30px 30px 30px 0px;
}

.hamburger-logo {
    display: none; /* スマホ用なので消す */
}

.header-list a {
    list-style: none;
    float: right;
    font-size: 13px;
    letter-spacing: 0.05em;
    padding: 30px 30px 30px 0px;
    color: #ffffff;
}

.header-list a:hover {
    color: #f08404;
}

/* *****サイドメニュー***** */

.side-menu {
    width: 250px;
    /* height: 100vh; vh=viewpoint height=画面の高さと同じ */
    height: 2000px;
    background-color: #303434; /* 指定なしだったのでカラーピッカーで色決定 */
    z-index: 5;
    position: absolute;
    top: 80px;
}

.worker-info {
    padding: 30px;
    width: 250px;
    height: 105px;
}

.face-photo {
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover; /* 画像が正方形でない場合に縦横比を保ったままにする */
    background-color: #cccccc;
    float: left;
    margin: 0px;
}

.worker-name {
    width: 130px;
    display: inline-block;
    float: right;
}

.worker {
    font-size: 14px;
    letter-spacing: 0.1em;
    color: #f08404;
    margin: 0px
}

.name {
    font-size: 18px;
    letter-spacing: 0.1em;
    color: #ffffff;
    margin: 0px
}

.menu-contents :hover {
    border-left: 5px solid #f08404;
    background-color: #282424;
}

.menu-content {
    height: 45px; /* 高さ30pxだったが、padding上下15px必要だったので、45pxにした */
    padding: 15px 30px;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0.05em; /* 0.5emという指定だけど0.05emの間違い？ */
}

.menu-content :hover {
    color: #f08404;
    border: none; /* menu-contentsのborderプロパティが効いてアイコンとメニュー名にborder入るので消す */
}

.menu-icon {
    height: 15px;
    padding-right: 10px;
}

/* *****フッター***** */

footer {
    width: 100%;
    height: 160px;
    position: absolute;
    bottom: -160px;
    z-index: 10;
}

.top-footer {
    width: 100%;
    height: 33px;
    padding: 10px 30px;
    background-color: #60646c; /* 指定なしだったので、カラーピッカーで色決定 */
    color: #ffffff;
    font-size: 13px;
    letter-spacing: 0.05em; /* 0.5emの指定だったが、デザインを見ると0.05emくらいなので、0.05emにした */
}

.top-footer a {
    padding-right: 30px;
    float: left;
}

.main-footer {
    width: 100%;
    height: 112px;
    padding: 20px 30px;
    background-color: #282424; /* 指定なしだったので、カラーピッカーで色決定 */
    color: #ffffff;
    margin: 0px;
}

.rebuild-icon {
    height: 40px;
    float: left;
    padding: 0px 20px 10px 0px;
}

.rebuild-cojp {
    margin: 0px;
    padding: 10px 0px;
    font-size: 14px;
}

.rebuild-info {
    display: inline;
    font-size: 11px;
    letter-spacing: 0.05em;
    padding: 0px;
    margin: 0px;
}

.rebuild-info br {
    display: none;
}

.page-top {
    width: 20px;
    height: 20px;
    background-color: #f08404;
    position: absolute;
    right: 30px;
    bottom: 31px;
    text-align: center;

}

.bottom-footer {
    width: 100%;
    /* height: 31px; */
    background-color: #ffffff; /* 指定なしだったので、カラーピッカーで色決定 */
}

.bottom-footer p {
    color: #60646c;
    font-size: 11px;
    letter-spacing: 0.05em;
    text-align: center;
    padding: 10px 30px;

}

/* *****モバイルフッター***** */

.mobile-footer {
    display: none;
}

/* *****ダッシュボード 左エリア***** */

main {
    position: relative; /* メイン部分の基準点を最左上から、サイドメニュー右&ヘッダー下に変更 */
    top: 80px;
    left:250px;
    width: 1190px;
}

.dashboard {
    position: absolute;
    width: 1190px;
    color: #282424; /* 指定なかったので、ヘッダーの背景色と同じにした */
    font-size: 20px;
    font-weight: bold;
    padding: 20px 15px 20px 25px;
    border-bottom: 1px solid #cccccc;
}

.info {
    position: absolute;
    top: 71px;
    width: 60%;
}

.matter {
    position: absolute;
    top: 272px;
    width: 60%;
}

.friends-request {
    position: absolute;
    top: 493px;
    width: 60%;
}

.title {
    /* position: absolute; */
    width: 60%;
}

.p-title {
    position: absolute;
    width: 100%;
    color: #303434; /* 指定なかったので、サイドメニューの背景色と同じにした */
    font-size: 20px;
    font-weight: 500;
    border-bottom: 1px solid #303434;
    margin: 0px 25px;
    margin: 0px 25px 5px 25px;
}

.p-title-info {
    padding: 30px 0px 10px 0px;
}

.p-title-matter {
    padding: 50px 0px 10px 0px;
}

.p-title-friends {
    padding: 50px 0px 10px 0px;
}

.list-logo {
    position: absolute;
    right: 30px;
    background-color: #f08404;
    padding: 2px 7px;
    margin: 35px 30px 10px 0px;
    font-size: 5px;
    text-align: center;
}

.list {
    position: absolute;
    top: 34px;
    right: 25px;
    color: #303434;
    font-size: 15px;
}

.contents {
    position: absolute;
    width: 100%;
    font-size: 10px;
    color: #303434;
    margin: 0px 25px 100px 25px;
}

.info-contents {
    top: 76px;
}

.matter-contents {
    top: 96px;
}

.friends-contents {
    top: 95px;
}

.content {
    width: 100%;
    border-bottom: 1px solid #cccccc;
    display: inline-block;
}

.info-content p {
    color: #303434;
    display: inline-block;
}

.matter-content p {
    color: #303434;
    display: inline-block;
}

.friends-content p {
    color: #303434;
    display: inline-block;
}

.date {
    margin: 10px 0px 10px 10px;
}

.tag {
    margin-left: 10px;
    display: inline;
}

.tag p {
    color: #f08404;
    margin: 10px 0px;
    padding: 2px 10px;
    color: #f08404;
    border: solid 1px #f08404;
    border-radius: 10px;
}

.text {
    margin: 10px 0px 10px 10px;
}

.more {
    display: inline;
    float: right;
    margin: 10px 10px 10px 15px;
}

.more a {
    color: #f08404;    
}

.friends-photo {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover; /* 画像が正方形でない場合に縦横比を保ったままにする */
    background-color: #cccccc;
    float: left;
    margin: 0px;
    margin: 10px 15px 10px 10px;
}

.friends-content {
    position: relative;
}

.friends-name {
    position: absolute;
    top: 10px;
    left: 75px;
}

.prefecture {
    position: absolute;
    top: 18px;
    left: 0px;
    padding-top: 10px;
}

.button {
    position: absolute;
    top: 0px;
    right: 0px;
}

.button p {
    color: #ffffff;
    font-size: 18px;
    width: 100px;
    height: 40px;
    border-radius: 20px 20px 20px 20px;
    padding: 7px 0px 7px 0px;
    margin: 15px 0px 15px 5px;
    text-align: center;
}

.approve {
    background-color: #f08404; 
}

.reject {
    background-color: #cccccc;
}


/* *****ダッシュボード 右エリア***** */

.post {
    position: absolute;
    top: 71px;
    left: 764px;
    width: 36%;
}

.sub-title p{
    position: absolute;
    width: 100%;
    color: #303434; /* 指定なかったので、サイドメニューの背景色と同じにした */
    font-size: 10px;
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding: 10px 15px;
    display: inline-block;
}

.bold {
    color: #303434;
    font-weight: bold;
}

.msg_send {
    position: absolute;
    top: 109px;
    left: 764px;
    width: 36%;
    height: 90px;
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}


input[type="radio"] {
 vertical-align:middle;
}

.msg_type {
    position: absolute;
    width: 100%;
    font-size: 10px;
    padding: 15px 15px 10px 15px;
}

.msg_type label {
    color: #303434;
    padding-right: 10px;
}

.msg {
    position: absolute;
    top: 42px;
    width: 100%;
    font-size: 10px;
    padding: 0px 15px 15px 15px;
}

input {
    vertical-align : middle;
}

.msg_area {
    font-size: 10px;
    width: 85%;
    height: 30px;
    border: 1px solid #cccccc;
    border-radius: 15px 15px 15px 15px;
    padding: 10px;
}

.msg_send_button {
    color: #ffffff;
    font-size: 10px;
    width: 50px;
    height: 30px;
    border-radius: 15px 15px 15px 15px;
    padding: 5px;
    border: none;
    background-color: #f08404;
}

.feed {
    position: absolute;
    top: 198px;
    left: 764px;
    width: 36%;
    color: #303434;
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}

.feed {
    color: #30343;
    font-size: 10px;
}

.face-photo-50px {
    display: inline;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover; /* 画像が正方形でない場合に縦横比を保ったままにする */
    background-color: #cccccc;
    float: left;
    margin: 15px 10px 30px 15px;
}

.feed-name {
    display: inline;
    color: #303434;
    font-size: 12px;
    margin: 15px 0px 10px 0px;
}

.feed-date {
    display: inline;
    color: #303434;
    font-size: 8px;
    margin: 15px 15px 10px 0px;
}
    

